data sample of medicine major policy/
data smaple for international student/

# Ignore PDFs and large/sensitive files
*.pdf
*.bin
*.sqlite3

# Ignore ChromaDB folder (it's big and can be regenerated)
Embeddings/chromaDB/